
/* Centrar el contenido global */
.wrapper {
  max-width: 1300px;   /* puedes probar 1000px, 1200px */
  margin: 0 auto;      /* centra horizontalmente */
  padding-left: 20px;
  padding-right: 20px;
}

/* Centrar el contenido de páginas */  
.page-content {
  display: flex;
  justify-content: center;
}
.page-content .wrapper {
  width: 100%;
  max-width: 1100px;
}

/* Mejorar alineación visual del texto */
.page-content {
  text-align: left;
}

/* Opcional: dar más aire vertical */
.page-content {
  padding-top: 30px;
}

/* Ocultar el footer por defecto de Minima */
.site-footer { display: none !important; }

/* ====== TITULOS ACADEMICOS ====== */

/* Título principal de página */
h1 {
  color: #0070C0;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Subtítulos */
h2 {
  color: #274c77;
  font-weight: 600;
  margin-top: 32px;
  position: relative;
  padding-bottom: 6px;
}

/* Línea elegante debajo de h2 */
h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #1a3c6e;
}

/* h3 más discreto */
h3 {
  color: #333;
  font-weight: 600;
}

/* h4 más discreto */
h4 {
  color: #0070C0;
  font-weight: 300;
}

/* Texto general más suave */
body {
  color: #333;
}

/*para enlaces*/
a {
  color: #1a3c6e;
}

a:hover {
  color: #274c77;
  text-decoration: underline;
}

