/* Aumentar ancho general del contenido */
.wrapper {
  max-width: 1300px;   /* prueba 1300 o 1400 */
}

/* Hacer que el contenido use más espacio */
.page-content {
  max-width: 1200px;
}

/* Tabla más amplia */
.tabla-notas {
  width: 80%;
  table-layout: auto;
}

/* Evitar saltos de línea en títulos */
.tabla-notas td:first-child a {
  white-space: nowrap;
}
