
/* Centrar el contenido global */
.wrapper {
  max-width: 1300px;   /* puedes probar 1000px, 1200px */
  margin: 0 auto;      /* centra horizontalmente */
  padding-left: 20px;
  padding-right: 20px;
}

/* Centrar el contenido de páginas */  
.page-content {
  display: flex;
  justify-content: center;
}
.page-content .wrapper {
  width: 100%;
  max-width: 1100px;
}

/* Mejorar alineación visual del texto */
.page-content {
  text-align: left;
}

/* Opcional: dar más aire vertical */
.page-content {
  padding-top: 30px;
}

/* Ocultar el footer por defecto de Minima */
.site-footer { display: none !important; }

/* ====== TITULOS ACADEMICOS ====== */

/* Título principal de página */
h1 {
  color: #316EBE;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* Subtítulos */
h2 {
  color: #274c77;
  font-weight: 400;
  margin-top: 32px;
  position: relative;
  padding-bottom: 6px;
}

/* h3 más discreto */
h3 {
  color: #333;
  font-weight: 450;
}

/* h4 más discreto */
h4 {
  color: #316EBE;
  font-weight: 300;
}

/* Texto general más suave */
body {
  color: #333;
}

/* sobre la imagen de perfil*/

/* ====== FOTO INICIO ====== */

.home-intro{
  display:flex;
  gap:32px;
  align-items:flex-start;
  margin-top:20px;
}

.home-photo{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;                 /* recorta al círculo */
  box-shadow: 0 8px 24px rgba(0,0,0,.08);
  flex: 0 0 180px;                  /* no se aplasta en flex */
}

.home-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;                /* llena sin deformar */
  object-position: center;
  display: block;
}



.home-text h2{
  color:#0b3c5d;
  margin-top:0;
}



